* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 512px;
    background-color: darkblue;
}
header img {
    width: 512px;
    margin-bottom: 40px;
}
.title {
    font-family: "Sigmar", sans-serif;
    color: white;
    line-height: 1;
    text-align: center;
    padding: 10px 80px;
}
p {
    color: white;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    padding: 0 70px;
}
.first-button {
    font-size: 20px;
    padding: 10px 75px;
    border-radius: 10px;
    border: none;
    margin: 10px 0 15px 0;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;
}
div {
    text-align: center;
}
svg {
    position: absolute;
    bottom: 78px;
    left: 130px;
}
.second-button {
    font-family: "DM Sans", sans-serif;
    background-color: #495FE6;
    padding: 10px 43px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 0 50px 0;
}
.card {
    background-image: url(/img/background.png);
    background-size: cover;
    position: relative;
    margin: 0 50px 45px 50px;
    border-radius: 20px;
}
.card img {
    position: absolute;
    top: -32px;
    left: 43px;
    z-index: 1;
    translate: 185% 0%;
}
.card h2 {
    padding: 50px 135px 10px 20px;
    text-align: left;
}
.card p {
    text-align: left;
    padding: 0 45px 15px 19px;
}
.card video {
    position: relative;
    left: 24%;
}