* {
    padding: 0;
    margin: 0;
}
body {
    width: 512px;
    background-image: url(/img/background.png);
    background-size: cover;
}
header img {
    width: 512px;
    padding: 0 0 30px 0;
}
main h1 {
    font-family: "Sigmar", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    text-align: center;
    padding: 20px 35px 0 35px;    
}
main p {
    padding: 0 35px 0 35px;
    color: white;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.first-button {
    position: relative;
    right: -5%;
    width: 440px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin: 12px; 
    cursor: pointer; 
}
