* {
    padding: 0;
    margin: 0;
}
body {
    width: 512px;
    background-image: url(/img/background.png);
    background-size: cover;
}
header img {
    width: 512px;
    padding: 0 0 45px 0;
}
main h1 {
    font-family: "Sigmar", sans-serif;
    font-weight: bold;
    font-style: normal;
    padding: 20px;
    line-height: 1;
}
main p {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
main div {
    color: white;
    text-align: center;
    max-width: 370px;
    position: relative;
    right: -67px;
}
.first-button {
    width: 340px;
    height: 45px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin: 15px; 
    cursor: pointer;
    position: relative;
    right: -66px; 
}
svg {
    position: absolute;
    bottom: 50px;
    left: 140px;
}
.second-button {
    width: 340px;
    height: 45px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    right: -81px;
    margin-bottom: 35px;
    color: white;
    background-color: #1B21E0;
}
.card {
    background-color: #1B21E0;
    border-radius: 15px;
    padding: 10px;
    text-align: left;
}
.card h2 {
    font-family: "Sigmar", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    padding: 10px;
}
.card p {
    
}
